#services3
{
background-image:linear-gradient(rgba(0,0,0.5,0.2), rgba(0,0,0.5,0.2)),url(/img/help.jpg);
background-size:cover;
background-position:center;
height:250px;
color:#efefef !important;
background-attachment:fixed;
padding-top:50px;
padding-bottom:50px;

}

#services3 h1
{
    text-align:center;
    color:#ff1414!important;
    padding-bottom:10px;
    margin:50px auto 5px;
    font-weight:bold;
}
#services3 h1::after
{
    content: '';
    background:#ff1414;
    display:block;
    height:3px;
    width:170px;
    margin:20px auto 5px;
}


.partner
{
    padding-top: 32px;
    padding-bottom: 32px;
}
.container
{
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;

}
.partner .row
{
    margin-bottom: 32px;
}
.row
{
    display: flex;
    flex-wrap: wrap;
     margin-right: -15px;
     margin-left: -15px;
}
.col-md-7 
{
    flex:0 0 58.333333%;
    max-width: 58.333333%;

}

h5{
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: .5rem;
    font-family: inherit;
    line-height: 1.1;
    margin-top: 0;

}
.img-fluid
{
    max-width:100%;
    height: auto;


}
img
{
    vertical-align: middle;
    border-style: none;

}

.col.md-12 
{
    flex: 0 0 100%;
    max-width:100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}
h2{
    color: #007BB9;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: .5rem;
    font-family: inherit;
    line-height: 1.1;
    margin-top: 0;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
    
}


