#services3
{
background-image:linear-gradient(rgba(0,0,0.5,0.2), rgba(0,0,0.5,0.2)),url(/img/htl.jpg);
background-size:cover;
background-position:center;
height:250px;
color:#efefef !important;
background-attachment:fixed;
padding-top:50px;
padding-bottom:50px;

}

#services3 h1
{
    text-align:center;
    color:  #f94ad1 !important;
    padding-bottom:10px;
    margin:50px auto 5px;
    font-weight:bold;
}
#services3 h1::after
{
    content: '';
    background:  #f94ad1 ;
    display:block;
    height:3px;
    width:170px;
    margin:20px auto 5px;
}


.fast img {
    width:90px;
    height:90px;
    margin-bottom:10px;
    }
    
    img 
    {
        vertical-align:middle;
        border-style:none;
       
    }

    .row 
    {
        display:flex;
        flex-wrap:wrap;
        margin-right:-15px;
        margin-left:-15px;
    }
    .col-md-4
    {
        flex:0 0 33.333333%;
        max-width:33.333333%;
    }
    .container 
    {
        margin-right:auto;
        margin-left:auto;
        padding-right:15px;
        padding-left:15px;
        width:100%;
    }

    .fast
{
    text-align:center;
    background-image:linear-gradient(rgba(241, 241, 241), rgba(241, 241, 241 )),url(img/lvl2.jpg);
    background-size:cover;
    padding:32px 0;
   
}
*, ::after, ::before 
{
    box-sizing:inherit;
}

.fast h3, .fast p 
{
    color:rgb(85, 77, 77);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-family:Robot;
}
p 
{
    margin-top:0;
    margin-bottom:1rem;
}

.text-center 
{
    text-align:center !important;
}
h4 
{
    color: #003768;
    font-weight:600;
    font-size: 1.4rem;
    margin-bottom:.5rem;
    font-family: inherit;
    line-height: 1.1;
    margin-top:0;

}
.col-md-12 
{
    flex:0 0 100%;
    max-width:100%;
    position: relative;
    width:100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}
.col-md-3
{
    flex:0 0 25%;
    max-width: 25%;
}
.topMargin
{
    margin-top: 15px;
}
.panel
{
    border:1px solid #95989A;
    overflow:hidden;

}
.panel .panel-heading
{
    background-color:#003768;
    color:#fff;
    font-size:20px;
    padding:10px 5px;
    text-align:center;

}
.panel .panel-body 
{
    padding:10px;

}
.courseIntro
{
    height:240px;

}
.btn
{
    border-radius:20px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    transition: all .15s ease-in-out;

}
a 
{
    text-decoration: none;
    touch-action: manipulation;

}
.btn-block
{
display: block;
width: 100%;
}
.row-text-center 
{
    display: flex;
}
