/*******************Navigation*************************/
#nav-bar
{
    position: sticky;
    top:0;
    z-index: 10;
}
.navbar-brand img
{
    width: 300px;
    height: 100px;
    padding-right: 20px;
   
}
.navbar-nav li 
{
    padding: 0 10px;

}

.navbar-nav li a 
{
    float: right;
    text-align: left;

}
#nav-bar ul li a:hover
{
    color:#007bff!important;
}
.navbar
{
    background: rgb(255, 255, 255);
}
.navbar-toggler
{
    border:none!important;
}
.nav-link
{
    color:#555!important;
    font-weight: 600;
    font-size: 16px;
}
/* *********    Slider********* */
#slider
{
    width: 100%;
}

.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;

}
.carousel-caption h5 
{
    color:rgb(255, 255, 255);
    font-size: 42px;
}
/*******************************ABout*****/




#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color:#555;
}
#about button{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content
{
    padding-top: 20px;
}
.skills-bar p
{
margin-bottom: 6px;
font-weight: 600;
}
.progress-bar
{
    border-radius: 16px;
}
.progress 
{
border-radius: 16px!important;
margin-bottom: 20px;
}

/******************* Services*************************/



#services
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/services2.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1{
text-align: center;
color: #efefef !important;
padding-bottom: 10px;
}
#services h1::after
{
    content: '';
    background:#efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services
{
    margin-top: 40px;
}
.icon
{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;

}
#services p 
{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;

}
.services .col-md-3:hover 
{
    background: #007bff;
    cursor: pointer;
    transition: 1.2s;
}

/************* Promo***************/


#promo
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/services3.jpg);
    background-size: cover;
    background-position: center;
    color:#fff;
    background-attachment: fixed;
    text-align: center;
    padding:100px;
    font-family: sans-serif;
    font-size: 38px;

}
