
   
    #services3
{
background-image:linear-gradient(rgba(0,0,0.5,0.2), rgba(0,0,0.5,0.2)),url(/img/sr.jpg);
background-size:cover;
background-position:center;
height:250px;
color:#efefef !important;
background-attachment:fixed;
padding-top:50px;
padding-bottom:50px;

}

#services3 h1
{
    text-align:center;
    color:#efefef !important;
    padding-bottom:10px;
    margin:50px auto 5px;
    font-weight:bold;

}

#services3 h1::after
{
    content: '';
    background:#efefef;
    display:block;
    height:3px;
    width:170px;
    margin:20px auto 5px;

}

.level h3, .level p 
{
   
color:#fff;
}


.speak h3, .speak p 
{
   
color: #0871b9;
font-family:Courier Header;

}
.fast h3, .fast p 
{
    color:#612dc8;
    font-family:Robot;
}
p 
{
    margin-top:0;
    margin-bottom:1rem;

}
.level 
{
    text-align:center;
    background-image:url(/img/lvl3.jpg);
    background-size:cover;
    padding:32px 0;
}

.speak
{
    text-align:center;
    background-image:url(/img/lvl.jpg);
    background-size:cover;
    padding:32px 0;
}
.fast
{
    text-align:center;
    background-image:linear-gradient(rgba(203, 210, 213), rgba(  203, 210, 213 )),url(img/lvl2.jpg);
    background-size:cover;
    padding:32px 0;
   
}
*, ::after, ::before 
{
    box-sizing:inherit;
}
.level img 
{
    width:90px;
    height:90px;
    margin-bottom:10px;
}

.speak img 
{
    width:90px;
    height:90px;
    margin-bottom:10px;
}
.fast img {
width:90px;
height:90px;
margin-bottom:10px;
}

img 
{
    vertical-align:middle;
    border-style:none;
}
.row 
{
    display:flex;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px;
}
.col-md-4
{
    flex:0 0 33.333333%;
    max-width:33.333333%;
}
.container 
{
    margin-right:auto;
    margin-left:auto;
    padding-right:15px;
    padding-left:15px;
    width:100%;
}

