

/************ Serivces2* *********/

#services2
{
background-image:linear-gradient(rgba(0,0,0.5,0.2), rgba(0,0,0.5,0.2)),url(/img/sr2.jpg);
background-size:cover;
background-position:center;
height:250px;
color:#efefef !important;
background-attachment:fixed;
padding-top:50px;
padding-bottom:50px;

}

#services2 h1
{
    text-align:center;
    color:#efefef !important;
    padding-bottom:10px;
    margin:50px auto 5px;
    font-weight:bold;
}
#services2 h1::after
{
    content: '';
    background:#efefef;
    display:block;
    height:3px;
    width:170px;
    margin:20px auto 5px;
}
/* ************  price plans **********/
#price h5
{
    text-align:center;
    color:red !important;
    padding-bottom:10px;
    margin:50px auto 5px;
    font-weight:bold;

}

#price h5::after
{
    content: '';
    background:blue;
    display:block;
    height:3px;
    width:400px;
    margin:20px auto 5px;

}
#price
{
    padding:40px 0;
    background:#efefef;

}
.single-price
{
    margin:10px auto;
    display:inline;
    float:left;
    width:100%;
    background-color:#fff;
    transition:0.5s;
    
}
.single-price:hover
{
    box-shadow:0 2px 20px #333;

}
.price-head
{
    background-color:#2196f3;
    display:inline;
    float:left;
    padding:10px 5px;
    text-align:center;
    width:100%;
    
}
.price-head h2 
{
color:#fff;
font-size:30px;
font-weight:bold;
margin-bottom:5px;
padding:5px;
text-transform:uppercase;

}
.price-head p 
{
    font-size:25px;
    color:#ccc;
    font-weight:bold;
    line-height:30px;
    
}
#price span 
{
    font-size:15px;
    
}
.price-content
{
    display:inline;
    float:left;
    width:100%;
    padding:0 15px;
    
}
.price-content ul li 
{
    border-bottom:1px solid #efefef;
    padding:15px 10px;
    list-style:none;

}
ul li:last-child 
{
border:none;
}
.fa-check-circle
{
    color:green;
    margin-right:10px;
    font-size:20px;
}
.fa-times-circle 
{
    color:red;
    margin-right:10px;
    font-size:20px;
}
.price-button
{
    display:inline;
    float:left;
    padding:15px 15px 30px;
    text-align:center;
    width:100%;

}
.buy-btn
{
    background-color:#2196f3;
    border-radius:3px;
    display:inline-block;
    font-size:18px;
    padding:15px 50px;
    transition:0.5s;
}
.buy-btn:hover
{
border-color:1px solid #fff;
background-color:#3f51b5;

}
a 
{
    text-decoration:none !important;
    color:#fff !important;
}
