
body
{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    letter-spacing: 1px;

}
section
{
    width: 100%;
    height: 100vh;
    background-image: url(pic6.jpg);
    background-size: cover;
}
.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:340px;
    text-align: center;
}
.create-form
{
    position: relative;
    box-sizing: border-box;
    padding: 60px 30px;
    transition: .5s;
}
.create-form:hover
{
background: rgba(255,255,255,.1);
box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.create-form h1
{
    margin: 0 0 20px;
    color: rgb(19, 14, 14);
    font-size: 30px;
    text-transform: uppercase;
}
.create-form input
{
    display: block;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 25px;
    outline: none;
    font-size: 14px;
    Letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background: rgba(245, 241, 241, 0.1);
    font-family:  sans-serif;
}
.create-forminput::placeholder
{
    color:#fff;
}
.create-form input[type="submit"]
{
    color: #fff;
    background: #0072ff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.create-form input[type="submit"]:hover
{
    background: #005aca;
}
.create-form a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}