


#services3
{
background-image:linear-gradient(rgba(0,0,0.5,0.2), rgba(0,0,0.5,0.2)),url(/img/tr.jpg);
background-size:cover;
background-position:center;
height:250px;
color:#efefef !important;
background-attachment:fixed;
padding-top:50px;
padding-bottom:50px;

}

#services3 h1
{
    text-align:center;
    color:#70CF81   !important;
    padding-bottom:10px;
    margin:50px auto 5px;
    font-weight:bold;
    font-family:"Times New Roman", Times, serif;

}

#services3 h1::after
{
    content: '';
    background:#28AD86 ;
    display:block;
    height:3px;
    width:170px;
    margin:20px auto 5px;

}
#team
{
    padding-top:50px;
    padding-bottom:50px;
    color:#555;
    
}
h1
{
    text-align:center;
    color:#555 !important;
    padding-bottom:10px;
}
h1::after
{
content:'';
background:#007bff;
display:block;
height:3px;
width:170px;
margin:20px auto 5px;
}
.profile-pic
{
    margin-top:25px;
}
.profile-pic .img-box
{
    opacity:1;
    display:block;
    position:relative;

}
.profile-pic .img-box img
{
    filter:grayscale(1);

}


.profile-pic .img-box img:hover
{
    filter:grayscale(0);
    cursor:pointer;

    
}
.img-responsive
{
    width:200px;
    height:200px;
}
.profile-pic h2
{
    font-size:22px;
    font-weight:bold;
    margin-top:15px;
    color:#007bff !important;

}
.profile-pic h3
{
    font-size:15px;
    font-weight:bold;
    margin-top:15px;
}
#team .fa 
{
    height:25px;
    width:25px;
    color:#007bff !important;
    background:#fff;
    padding:4px;
    border-radius:50%;
    
}
.img-box ul 
{
    padding:15px 0;
    position:absolute;
    z-index:2;
    bottom:0;
    left:50%;
    transform-translateX(-50%);
    opacity:0;
    

}
.img-box ul li 
{
    padding:25px 5px 5px 2px;
    display:inline-block;
     margin:5px 25px 15px -35px;
}
.img-box:hover ul 
{
    opacity:1;
 
}
.img-box ul, .img-box ul li 
{
    transition:0.5s;

}

